body{
    margin: 0;
    background-color: rgb(246, 246, 247);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    border: 5px solid rgb(241, 239, 239);
}
.banner{
   background-image: url(img/image.png);
    padding: 100px 20px;
    text-align: center;
}
.banner h1{
    font-size: 45px;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;
}
.banner p{
    font-size: 20px;
    margin-bottom: 30px;
    color: aliceblue;
} 